@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,800|Oswald:200,400|Playfair+Display:400,400i");
@font-face {
  font-family: 'Mansfield';
  src: url("/css/webfont/Mansfield.eot?#iefix") format("embedded-opentype"), url("/css/webfont/Mansfield.otf") format("opentype"), url("/css/webfont/Mansfield.woff") format("woff"), url("/css/webfont/Mansfield.ttf") format("truetype"), url("/css/webfont/Mansfield.svg#Mansfield") format("svg");
  font-weight: normal;
  font-style: normal; }

/* homepage & navigation styles */
body {
  margin: 0;
  overflow-x: hidden; }

a, button {
  cursor: pointer; }

a {
  text-decoration: none;
  color: #A7C5D1; }

p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5; }

h1 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase; }

h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.7em; }

h3 {
  font-weight: 300;
  letter-spacing: 0.4px;
  font-size: 2em;
  font-family: "Playfair Display", serif;
  padding-right: 5px; }

.uppercase-xsm {
  font-size: 0.7em;
  font-weight: 200;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: .4em; }

.cursive {
  font-family: "Mansfield", cursive;
  font-weight: 100; }

.large-ptext {
  font-family: "Playfair Display", serif;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1.8em; }

.smcap {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  color: #ffffff; }

button {
  padding: 15px;
  background: #333333;
  color: #ffffff;
  border: 0;
  outline: 0;
  font-size: 0.8em;
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: all 0.3s ease; }
  button:hover {
    background: #A7C5D1;
    color: #333333;
    transition: all 0.3s ease;
    transform: scale(1.03); }

.btn-blue {
  background: #A7C5D1;
  color: #333333; }
  .btn-blue:hover {
    background: #333333;
    color: #ffffff; }

.btn-inverse {
  background: #ffffff;
  color: #333333; }
  .btn-inverse:hover {
    background: #A7C5D1; }

.hover-white {
  transition: all 0.3s ease; }
  .hover-white:hover {
    background: #ffffff;
    transition: all 0.4s ease-out; }

.sticky {
  position: fixed;
  z-index: 10; }

.navbar--container {
  top: 15%;
  background: #ffffff;
  height: 220px;
  width: 90px;
  box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.1); }

.navbar--icon {
  margin-top: 24px;
  margin-left: 49px;
  font-size: 1em; }
  .navbar--icon:hover {
    color: #A7C5D1;
    cursor: pointer; }

.navbar--title {
  margin-left: 27px;
  margin-top: 35px; }
  .navbar--title h4 {
    writing-mode: vertical-rl;
    font-family: "Oswald", sans-serif;
    letter-spacing: .34em;
    text-transform: uppercase;
    font-size: 0.9em; }

.nav--open {
  height: 100vh;
  width: 300px;
  background: #ffffff;
  transition: all 0.4s ease-out;
  opacity: 1;
  box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.1); }

.nav--open-icon {
  text-align: right;
  padding: 20px; }
  .nav--open-icon i {
    font-size: 1.8em;
    color: #A7C5D1; }
    .nav--open-icon i:hover {
      color: #333333;
      cursor: pointer; }

.nav--open-title {
  font-family: "Playfair Display", serif;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
  text-align: center;
  margin-top: 35%; }

.nav--open-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px; }
  .nav--open-menu a {
    font-size: 2em;
    font-weight: 100;
    font-family: "Playfair Display", serif;
    padding: 15px 0;
    transition: all 0.3s ease; }
    .nav--open-menu a:hover {
      background: #A7C5D1;
      color: #ffffff;
      transition: all 0.3s ease; }

.close {
  transform: translateX(-300px);
  transition: all 0.4s ease-out;
  opacity: 0; }

.header--social {
  position: absolute;
  right: 2%;
  top: 10%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .header--social i {
    padding: 15px 10px;
    color: #ffffff;
    font-size: 1.1em;
    text-align: left;
    transition: all 0.3s ease; }
    .header--social i:hover {
      transform: scale(1.3);
      transition: all 0.3s ease;
      color: #A7C5D1; }

.hero--container {
  height: 105vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../img/main.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.hero--box {
  text-align: center;
  margin-bottom: 90px; }

.hero-title {
  color: #ffffff;
  font-size: 4em;
  letter-spacing: 5px; }

.hero--scroll {
  text-align: center;
  color: #ffffff;
  margin-bottom: 65px; }
  .hero--scroll .fa-angle-double-down {
    font-size: 0.9em;
    animation: bounce 1.5s ease-in-out 3;
    animation-delay: 10s;
    transition: all 0.3s ease; }
    .hero--scroll .fa-angle-double-down:hover {
      transform: scale(1.3);
      transition: all 0.3s ease;
      color: #A7C5D1; }
  .hero--scroll a {
    color: #ffffff; }

.about--container {
  min-height: 100vh; }

.about--left {
  position: absolute;
  z-index: -1;
  width: 55%;
  height: 100%;
  background-image: url("../img/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.number--box {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 150px;
  width: 90px;
  height: 90px;
  border: 1px solid #ffffff; }

.number--box {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 120px;
  width: 90px;
  height: 90px;
  border: 1px solid #ffffff; }

.num {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  text-align: center;
  letter-spacing: 2px;
  font-size: 2em;
  margin-top: 20px; }

.number--text {
  font-family: "Oswald", sans-serif;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 200;
  writing-mode: vertical-rl;
  margin-left: 95px;
  margin-top: -72px; }

.about--right {
  position: absolute;
  right: 0;
  width: 54.5%;
  height: 100%; }

.about--top-corner {
  text-align: right;
  margin-top: 20px;
  margin-right: 6%;
  padding: 5px; }
  .about--top-corner p {
    font-family: "Playfair Display", serif;
    letter-spacing: 0.2em;
    font-style: italic;
    font-size: 14px;
    background: #333333;
    color: #ffffff; }

.about--title {
  position: absolute;
  width: 100%;
  top: 25%;
  color: #333333; }
  .about--title h2 {
    padding: 4px 10px 3px 10px;
    font-family: "Playfair Display", serif;
    font-weight: 100;
    font-size: 2.7em;
    margin-left: 10px;
    background: #ffffff; }

.about--title-line {
  position: absolute;
  background: #A7C5D1;
  width: 350px;
  height: 8px;
  top: 120px;
  left: 80px; }

.about--desc {
  margin-top: 10%;
  margin-left: 10px;
  margin-right: 10%;
  background: #ffffff;
  padding: 0px 3px 0px 10px; }
  .about--desc p {
    font-family: "Playfair Display", serif;
    letter-spacing: 0.03em;
    font-size: 1.8em;
    line-height: 1.7em;
    font-style: italic;
    margin: 0; }

.about--btn {
  margin-top: 12%;
  margin-left: 9px;
  box-shadow: 9px 9px 0px #a7c5d1; }
  .about--btn:hover {
    box-shadow: 9px 9px 0px #333333; }

.films--container {
  position: relative;
  z-index: 4;
  background: #4d4d4d;
  height: 120vh; }
  .films--container .number--box {
    position: relative;
    top: -1px;
    left: 89px; }
  .films--container .number--text {
    color: #ffffff;
    margin-top: -77px; }

.films--title {
  position: relative;
  margin-top: 35px;
  margin-left: 135px;
  margin-bottom: -30px;
  z-index: 5; }
  .films--title h2 {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 100;
    font-size: 6em;
    text-transform: lowercase;
    margin: 0; }

.films--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  grid-gap: 40px;
  margin-left: 135px;
  margin-right: 100px; }

.films--video {
  height: 250px;
  overflow: hidden; }
  .films--video iframe {
    margin-top: -50px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); }
    .films--video iframe:hover {
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: grayscale(0%); }

.films--btn {
  width: 100%;
  text-align: center;
  margin-top: -25px;
  margin-left: 20px;
  position: absolute; }

.work--container {
  position: relative;
  height: 70vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1436491865332-7a61a109cc05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2253&q=80");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center; }

.work--title {
  position: absolute;
  width: 60%;
  margin-left: 20%;
  text-align: center; }
  .work--title h2 {
    color: #ffffff;
    margin: 0;
    font-style: italic;
    font-weight: 100;
    font-size: 3.5em; }

.work--summary {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  letter-spacing: 0.5px;
  line-height: 1.5em;
  font-size: 0.85em; }

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.4); }

.overlay-blue {
  height: 100%;
  width: 100%;
  background: rgba(167, 197, 209, 0.85); }

.overlay-white {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.15); }

.services--container {
  position: relative;
  height: 80vh;
  background: #A7C5D1; }
  .services--container .number--box {
    border-color: #ffffff;
    position: absolute;
    left: 47%;
    top: -50px; }
    .services--container .number--box .number--box-line {
      position: absolute;
      background: rgba(255, 255, 255, 0.4);
      width: 130%;
      height: 8px;
      z-index: -2;
      bottom: -12px; }
  .services--container .num {
    color: #ffffff; }
  .services--container .number--text {
    color: #333333;
    background: #ffffff;
    margin-top: -85px; }

.services--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  height: 100%;
  margin: 0 8%; }

.services--item {
  position: relative;
  margin-top: 170px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 280px;
  overflow: hidden;
  transition: all 0.3s ease; }
  .services--item:hover {
    transform: scale(1.03);
    transition: all 0.3s ease; }

.services--item-text {
  position: absolute;
  font-size: 2.3em;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 400;
  left: 20px;
  top: 40px;
  transition: all 0.3s ease; }

.services--item-img {
  position: absolute;
  height: 300px;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease; }

.img-overlay {
  position: absolute;
  height: 300px;
  width: 100%;
  background: rgba(51, 51, 51, 0.35); }

.contact--container {
  height: 90vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1524396309943-e03f5249f002?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center; }
  .contact--container .overlay {
    height: 90vh;
    margin-top: 0;
    background: rgba(51, 51, 51, 0.2); }

.contact--box {
  position: absolute;
  width: 50%;
  left: 25%;
  height: 250px;
  background: rgba(77, 77, 77, 0.9);
  text-align: center; }
  .contact--box button {
    margin-top: 20px; }
  .contact--box p {
    padding: 70px;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .7em; }

.contact--title {
  position: absolute;
  width: 60%;
  left: 20%;
  margin-top: -150px;
  z-index: 4; }
  .contact--title h2 {
    text-align: center;
    font-size: 7.5em;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.8); }

.contact--line {
  position: absolute;
  bottom: 70px;
  width: 10%;
  left: 45%;
  height: 5px;
  background: #A7C5D1; }

footer {
  height: 20vh;
  position: relative;
  width: 100%;
  text-align: center; }

.footer--social {
  height: 100px;
  margin-top: 50px; }
  .footer--social i {
    padding: 30px; }
    .footer--social i:hover {
      background: #ffffff;
      color: #333333;
      transform: scale(1.1); }

.footer--bottom {
  width: 100%;
  position: absolute;
  height: 20%;
  bottom: 0; }

.footer--text {
  font-family: "Open Sans", sans-serif;
  font-size: .5em;
  letter-spacing: 2px;
  text-transform: uppercase; }
  .footer--text a {
    transition: all 0.3s ease; }
    .footer--text a:hover {
      background: #A7C5D1;
      color: #333333; }

/*animations */
@keyframes bounce {
  50% {
    transform: translateY(-5px); } }

/* media query screen sizes */
@media only screen and (max-width: 965px) {
  .services--grid {
    margin: 0;
    grid-gap: 10px; }
  .contact--title {
    width: 100%;
    left: 0; } }

@media only screen and (max-width: 800px) {
  .films--grid {
    width: 100%;
    margin-left: 0;
    grid-gap: 5px; }
  .films--title {
    margin-left: 90px; }
  .services--grid {
    grid-template-columns: 1fr 1fr 1fr; }
  .contact--box {
    width: 65%;
    left: 17.5%; } }

@media only screen and (max-width: 600px) {
  .number--box {
    opacity: 0; }
  .nav--open {
    width: 100%; }
  .close {
    transform: translateX(-100%); }
  #about {
    height: 80vh; }
  .about--left {
    display: none; }
  .about--right {
    width: 100%;
    left: 0; }
  .about--top-corner {
    text-align: center;
    margin-top: 50px;
    margin-right: 0;
    padding: 5px; }
  .about--title {
    top: 15%;
    text-align: center; }
    .about--title h2 {
      margin-left: 0; }
  .about--desc {
    margin: 0 10%; }
  .about--btn {
    margin-top: 10%; }
  .films--title {
    margin-left: 0px;
    text-align: center; }
    .films--title h2 {
      font-size: 5em; }
  .work--title h2 {
    font-size: 3em; }
  .services--container {
    height: 100vh; }
  .services--grid {
    grid-template-columns: 1fr;
    grid-gap: 0;
    height: 100vh; }
  .services--item {
    margin: 0;
    text-align: center; }
    .services--item:hover .img-overlay {
      background: rgba(167, 197, 209, 0.5); }
  .services--item-text {
    right: 0;
    top: 70px; }
  .services--item-img {
    left: 0; }
  .contact--title h2 {
    font-size: 5.5em; }
  .footer--bottom {
    padding: 10px; } }

@media only screen and (max-width: 450px) {
  .films--container {
    height: 140vh;
    padding-bottom: 15em; }
  .films--grid {
    grid-template-columns: 1fr; }
  .work--title {
    width: 90%;
    margin-left: 5%; }
  .contact--title h2 {
    font-size: 4.5em; }
  .contact--text {
    padding: 45px; } }
