//transitions -------------
$ease: all .3s ease;
$ease-slow: all .4s ease-out;

//colors ---------------
$white: #ffffff;
$main: #A7C5D1;
$dark: #333333;
$highlight: #B23544;

//fonts ----------------
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800|Oswald:200,400|Playfair+Display:400,400i');
@font-face { font-family: 'Mansfield'; src: url('/css/webfont/Mansfield.eot?#iefix') format('embedded-opentype'), url('/css/webfont/Mansfield.otf') format('opentype'), url('/css/webfont/Mansfield.woff') format('woff'), url('/css/webfont/Mansfield.ttf') format('truetype'), url('/css/webfont/Mansfield.svg#Mansfield') format('svg'); font-weight: normal; font-style: normal; }

$body: 'Open Sans', sans-serif;
$bold: 'Oswald', sans-serif;
$serif: 'Playfair Display', serif;
$cursive: 'Mansfield', cursive;
