@import 'variables';

.travelmuse-logo {
  font-family: $bold;
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 3px;
  font-weight: 900;
  position: absolute;
  z-index: 2;
  left: 40px;
  top: 5px;
  // text-shadow: 1px 1px 2px rgba($dark, .5);
}
.logo {
  color: $main;
  transition: $ease;
  &:hover {
    transition: $ease;
    color: $dark;
  }
}

.page--header {
  box-sizing: border-box;
  height: 110vh;
  width: 100%;
  box-sizing: border-box;
  border: 40px solid $white;
  position: relative;
  background-image: url('../img/header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  .header--social {
    right: 0;
    top: 0;
  }
}

.page--title {
  margin-top: -63px;
  margin-bottom: 0;
  color: $white;
  font-size: 3em;
  text-align: right;
  text-shadow: 1px 1px 2px rgba($dark, .5);
}

.page--header-bottom {
  width: 100%;
  height: 35%;
  position: absolute;
  bottom: 0;
  background: $white;
}
.page--description {
  position: absolute;
  right: 5px;
  width: 80%;
  height: 88%;
  text-align: right;
  h3 {
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 0.4px;
    font-family: $serif;
    font-style: italic;
    padding-right: 5px;
    span {
      background: rgba($main, .8);
    }
  }
  p {
    font-family: $body;
    font-size: 0.8em;
    line-height: 1.7;
    padding-right: 5px;
  }
}

.page--about-short {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: $main;
  h2 {
    text-align: right;
    margin: 70px;
    font-size: 1.7em;
    padding-right: 5px;
    padding-top: 30px;
  }
}
.page--about-journey {
  width: 100%;
  min-height: 150vh;
  position: relative;
  background: $white;
}
.journey-top--background{
  background: $main;
  width: 100%;
  height: 150px;
  position: absolute;
}
.journey--top {
  width: 100%;
  height: 50%;
  position: absolute;
}
.about-journey-left {
  position: absolute;
  margin-left: 80px;
  width: 45%;
  height: 100%;
  padding: 30px;
  h2 {
    text-align: right;
    margin-right: 80px;
    margin-top: 180px;
  }
  p {
    text-align: right;
    margin-top: 80px;
    margin-right: 80px;
    font-family: $serif;
    font-size: 1.3em;
  }
}

.journey-title {
  position: absolute;
  top: 40px;
  right: 30px;
  z-index: 1;
  margin-left: 25px;
}

.journey-line {
  width: 50px;
  height: 3px;
  background: $highlight;
  position: absolute;
  right: 84px;
}
.about-journey-right {
  width: 40%;
  height: 100%;
  position: absolute;
  right: 70px;
  top: 5%;
  z-index: 1;
  background-image: url('../img/about-page.jpg');
  background-position: right;
  background-size: cover;
  // background-attachment: fixed;
  background-repeat: no-repeat;
}

.journey--bottom {
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  // background: $main;
  .page--title {
    position: absolute;
    margin: 10px 0 0 100px;
    text-align: left;
    z-index: 4;
    color:  $main;
  }
}
.journey--bottom-sm {
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0;
  background: $main;
}
.about-journey-center-box {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, minmax(200px,1fr));
  width: 85%;
  height: 50%;
  position: absolute;
  top: 17%;
  left: 100px;
  z-index: 2;
}
.journey-item {
  background: $dark;;
  position: relative;
  height: 250px;
  overflow: hidden;
  transition: $ease;
}
.journey-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: .7;
}
.journey-item-city {
  position: absolute;
  top: 40%;
  font-family: $cursive;
  color: lighten($main, 10%);
  margin: 0 30px;
  text-transform: lowercase;
  font-size: 3.3em;
  letter-spacing: 0;
}
.journey-item-country {
  position: absolute;
  top: 40%;
  color: $white;
  font-family: $body;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 50px;
  margin-top: 55px;
}

/* videos */
.page--header-2 {
  box-sizing: border-box;
  height: 50vh;
  width: 100%;
  border: 40px solid $white;
  position: relative;
  background-color: $main;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
  .header--social {
    right: 0;
    top: 0;
  }
  .page--title {
    margin: 0;
  }
}

.videos-container {
  box-sizing: border-box;
  width: 100%;
  border: 40px solid $white;
  border-top: none;
  background: $dark;
  height: 100vh;
}
