@import 'variables';

.travelmuse-logo {
  font-family: $bold;
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 3px;
  font-weight: 900;
  position: absolute;
  z-index: 2;
  left: 45px;
  top: 25px;
  // text-shadow: 1px 1px 2px rgba($dark, .5);
}
.logo {
  color: $main;
  transition: $ease;
  &:hover {
    transition: $ease;
    color: $dark;
  }
}
.white {
  color: $white;
}
.dark {
  color: $dark;
  &:hover {
    color: $main;
  }
}
.page--header {
  height: 100vh;
  min-height: 950px;
  width: 100%;
  position: relative;
  .header--social {
    i {
      color: $dark;
    }
  }
}
.page--header-left, .page--header-right {
  position: absolute;
  height: 100%;
}
.page--header-left {
  background-image: url('../img/about-page.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  background-attachment: fixed;
  width: 45%;
}
.page--header-right {
  width: 55%;
  right: 0;
  background: $white;
}

.page-about--description {
  position: absolute;
  text-align: justify;
  left: 10%;
  top: 5%;
  right: 15%;
  max-width: 550px;
  h1 {
    font-size: 2.8em;
    letter-spacing: 7px;
    font-family: $bold;
  }
  h2 {
    font-size: 1.5em;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: $body;
    font-weight: 100;
    letter-spacing: 1px;
  }
  h3 {
    font-style: italic;
    font-size: 1.3em;
    margin-bottom: 35px;
    span {
      background: rgba($main, .8);
    }
  }
  p {
    font-family: $body;
    font-size: 0.9em;
    line-height: 1.7;
    padding-right: 5px;
  }
}

.highlight-line {
  margin-top: 15px;
  width: 40px;
  height: 3px;
  background: $highlight;
}

.page--about-journey {
  width: 100%;
  height: 60vh;
  min-height: 450px;
  position: relative;
  background: $main;
}

.journey--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .page--title {
    position: absolute;
    margin-top: -80px;
    font-family: $cursive;
    letter-spacing: 0;
    text-transform: none;
    font-size: 4.7em;
    color: $white;
    text-shadow: none;
    font-weight: 500;
  }
}

.about-journey-center-box {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, minmax(200px,1fr));
  width: 86%;
  height: 50%;
  margin-top: 12%;
}
.journey-item {
  background: $dark;;
  position: relative;
  height: 250px;
  overflow: hidden;
  transition: $ease;
}
.journey-img {
  width: auto;
  height: 100%;
  z-index: 0;
  opacity: .7;
}
.journey-item-city {
  position: absolute;
  top: 40%;
  font-family: $cursive;
  color: lighten($main, 10%);
  margin: 0 30px;
  text-transform: lowercase;
  font-size: 3.3em;
  letter-spacing: 0;
}
.journey-item-country {
  position: absolute;
  top: 40%;
  color: $dark;
  font-family: $body;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 50px;
  margin-top: 55px;
  background: $main;
}

/* videos */
.overlay-absolute {
  width: 100%;
  height: 70%;
  position: absolute;
  background: rgba($dark, .75);
}
.videos-header {
  width: 100%;
  height: 100%;
  background-image: url('../img/header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  a {
    z-index: 2;
  }
  .contact--desc {
    h2 {
      color: $main;
    }
    .caps {
      color: $white;
      a {
        color: $main;
        &:hover {
          color: $dark;
        }
      }
    }
  }
}

.videos-container {
  width: 100%;
  background: $main;
  height: 100vh;
}

/* services page */
.page--services-container {
  left: 10%;
  width: 80%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .smcap {
    color: $dark;
    margin: 0 0 15px 0;
  }
  h2 {
    color: $white;
    margin: 0;
  }
  h3 {
    font-size: 1.7em;
  }
}
.services--line {
  width: 80px;
  height: 5px;
  background: $white;
  margin: 30px 0;
  z-index: 2;
}
.caps {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 70px;
  font-size: .9em;
  color: $white;
  a {
    color: $dark;
    font-weight: 600;
    transition: $ease;
    &:hover {
      background: $white;
      transition: $ease;
    }
  }
}

/* contact page */
.page--contact {
  background-color: $main;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact--desc {
  width: 70%;
  text-align: center;
  z-index: 2;
  h2 {
    font-size: 3em;
    color: $white;
    letter-spacing: 5px;
    font-family: $bold;
    text-transform: uppercase;
  }
  .caps {
    color: $dark;
    letter-spacing: 1.5px;
    margin-bottom: 0;
  }
}
.caps-white {
  font-size: 1.1em;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: $white;
  font-family: $bold;
  margin-top: 30px;
}

.cursive-contact {
  font-family: $cursive;
  text-align: center;
  font-size: 5em;
  margin: -70px 0 0 0;
  color: $white;
}

.less-height {
  height: 70vh;
  .overlay {
    height: 70vh;
  }
}

.contact-form {
  width: 70%;
  margin-left: 15%;
  height: auto;
  background: $white;
}
