/* variables */
$ease: all .3s ease;

//colors ---------------
$white: #ffffff;
$sky: #82CFEE;
$main: #24ABE2;
$navy: #31548C;
$dark: #333333;

//fonts ----------------
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800|Oswald:200,400|Playfair+Display:400,400i');
@font-face {
  font-family: 'Mansfield';
  src: url('Mansfield.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

$body: 'Open Sans', sans-serif;
$bold: 'Oswald', sans-serif;
$serif: 'Playfair Display', serif;
$cursive: 'Mansfield', cursive;

/*styles*/

body {
  margin: 0;
}

//font styles ---------------

a, button {
  cursor: pointer;
}

h1 {
  font-family: $body;
  font-size: 4em;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h2 {
  font-family: $serif;
  font-size: 2.7em;
}

.uppercase-xsm {
  font-size: 0.7em;
  font-weight: 200;
  font-family: $bold;
  text-transform: uppercase;
  letter-spacing: .4em;
}

.cursive {
  font-family: $cursive;
  font-weight: 100;
}

//buttons ----------------

button {
  padding: 15px;
  background: $dark;
  color: $white;
  border: 0;
  outline: 0;
  font-size: 0.8em;
  font-family: $bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: $ease;
  &:hover {
    background: $sky;
    color: $dark;
    transition: $ease;
    transform: scale(1.03);
  }
}
.btn-inverse {
  background: $white;
  color: $dark;
  &:hover {
    background: $dark;
    color: $white;
  }
}

//front-page header section -------------
.sticky {
  position: fixed;
  z-index: 10;
}
.navbar--container {
  top: 15%;
  background: $white;
  height: 220px;
  width: 90px;
}
.navbar--icon {
  margin-top: 24px;
  margin-left: 49px;
  font-size: 1em;
}
.navbar--title {
  margin-left: 27px;
  margin-top: 35px;
  h4 {
    writing-mode: vertical-rl;
    font-family: $bold;
    letter-spacing: .34em;
    text-transform: uppercase;
    font-size: 0.9em;
  }
}

.header--social {
  position: absolute;
  right: 25px;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  i {
    padding: 15px 10px;
    color: $white;
    font-size: 1.1em;
    text-align: left;
    transition: $ease;
    &:hover {
      transform: scale(1.3);
      transition: $ease;
      color: $sky;
    }
  }
}

.hero--container {
  height: 105vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url('../img/main.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero--box {
  text-align: center;
  margin-bottom: 90px;
}
.hero-title {
  color: $white;
}
.hero--scroll {
  text-align: center;
  color: $white;
  margin-bottom: 65px;
  .fa-angle-double-down {
    font-size: 0.9em;
    animation: bounce 1.5s ease-in-out 3;
    animation-delay: 10s;
    transition: $ease;
    &:hover {
      transform: scale(1.3);
      transition: $ease;
      color: $sky;
    }
  }
  a {
    color: $white;
  }
}


section {
  height: 100vh;
  width: 100vw;
}

.less-height {
  height: 70vh;
}

.about--container {
  position: relative;
  height: 100%;
  z-index: 5;
}
.about--left {
  position: absolute;
  z-index: -1;
  width: 55%;
  height: 100%;
  background-image: url('../img/about.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.number--box {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 150px;
  width: 90px;
  height: 90px;
  border: 1px solid $white;
}

.number--box {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 120px;
  width: 90px;
  height: 90px;
  border: 1px solid $white;
}

.num {
  color: $white;
  font-family: $serif;
  text-align: center;
  letter-spacing: 2px;
  font-size: 2em;
  margin-top: 20px;
}

.number--text {
  font-family: $bold;
  color: $dark;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 200;
  writing-mode: vertical-rl;
  margin-left: 95px;
  margin-top: -72px;
}
.about--right {
  position: absolute;
  right: 0;
  width: 54.5%;
  height: 100%;
}

.about--top-corner {
  text-align: right;
  margin-top: 20px;
  margin-right: 6%;
  padding: 5px;
  h3 {
    font-family: $serif;
    letter-spacing: 0.2em;
    font-style: italic;
    font-size: 14px;
    background: $dark;
    color: $white;
  }
}

.about--title {
  position: absolute;
  width: 100%;
  top: 25%;
  color: $dark;
  h2 {
    padding: 4px 10px 3px 10px;
    font-family: $serif;
    font-weight: 100;
    font-size: 2.7em;
    margin-left: 10px;
    background: $white;
  }
}
.about--title-line {
  position: absolute;
  background: $sky;
  width: 180px;
  height: 8px;
  top: 95px;
  left: 160px;
}

.about--desc {
  font-family: $body;
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 8%;
  text-align: justify;
}

.about--bio {
  letter-spacing: 0.03em;
  font-size: 0.8em;
  line-height: 1.7em;
}

.about--btn {
  margin-top: 15%;
  margin-left: 9px;
  box-shadow: 9px 9px 0px rgba($sky, 1);
  &:hover {
    box-shadow: 9px 9px 0px rgba($dark, 1);
  }
}

.films--container {
  position: relative;
  z-index: 4;
  background: $sky;
  height: 120vh;
  .number--box {
    position: relative;
    top: -1px;
    left: 89px;
  }
  .number--text {
    color: $white;
    margin-top: -77px;
  }
}
.films--title {
  position: relative;
  margin-left: 135px;
  margin-bottom: -30px;
  z-index: 5;
  h2 {
    color: $white;
    font-weight: 100;
    font-size: 6em;
    text-transform: lowercase;
    margin: 0;
  }
}

.films--outline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  grid-gap: 40px;
  margin-left: 135px;
  margin-right: 100px;
}

.films--video {
  border: 1px solid $white;
  height: 250px;
  overflow: hidden;
  iframe {
    margin-top: -50px;
  }
}

// .arrow--right {
//   position: absolute;
//   top: 45%;
//   right: 55px;
//   i {
//     font-size: 6em;
//     color: $white;
//     opacity: .9;
//   }
// }

.films--btn {
  width: 100%;
  text-align: center;
  margin-top: -25px;
  margin-left: 20px;
  position: absolute;
}

.services--container {
  position: relative;
  height: 70vh;
  .number--box {
    border-color: $dark;
    position: absolute;
    left: 48%;
    top: -1px;
    .number--box-line {
      position: absolute;
      background: rgba($sky, .4);
      width: 130%;
      height: 8px;
      z-index: -2;
      bottom: -12px;
    }
  }
  .num {
    color: $dark;
  }
  .number--text {
    color: $dark;
    background: $sky;
    margin-top: -85px;
  }
}

.services--title {
  width: 50%;
  left: 25%;
  position: absolute;
  margin-top: 170px;
  h2 {
    text-align: center;
    font-size: 4em;
    margin: 0;
  }
  h4 {
    font-size: 1.2em;
    margin: 0;
    text-transform: uppercase;
    font-family: $bold;
    font-weight: 100;
    letter-spacing: 4px;
    margin-bottom: -35px;
  }
}

.work--container {
  height: 70vh;
  background-image: url('https://images.unsplash.com/photo-1436491865332-7a61a109cc05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2253&q=80');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.work--title {
  width: 60%;
  margin-left: 20%;
  text-align: center;
  h2 {
    color: $white;
    margin: 0;
    font-style: italic;
    font-weight: 100;
    font-size: 3.5em;
  }
}

.work--smcap {
  text-transform: uppercase;
  font-family: $body;
  letter-spacing: 3px;
  color: $white;
}

.work--summary {
  color: $white;
  font-family: $body;
  font-weight: 100;
  letter-spacing: 0.5px;
  line-height: 1.5em;
  font-size: 0.85em;
}
.overlay {
  margin-top: -70vh;
  height: 100%;
  width: 100%;
  background: rgba($dark, .3);
}

/*animations */
@keyframes bounce {
  50% {
     transform: translateY(-5px);
  }
}
