/* variables */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,800|Oswald|Playfair+Display:400,400i");
/*text styles*/
button {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400; }

/*styles*/
body {
  background: #ffffff;
  color: #333333;
  margin: 0; }

/* --------- header --------- */
.navbar-top {
  margin-top: 3em;
  display: flex;
  justify-content: space-around;
  height: 40px;
  width: 100%; }

.nav-links {
  margin-top: 5px;
  text-decoration: none;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  letter-spacing: .3em;
  text-transform: uppercase;
  font-size: 11px;
  height: 14px;
  transition: all 0.3s ease; }
  .nav-links:hover {
    background: #82CFEE;
    transition: all 0.3s ease;
    transform: scale(1.1);
    opacity: .8; }

.logo {
  width: 255px;
  margin-top: -25px;
  transition: all 0.3s ease; }
  .logo a {
    text-decoration: none;
    color: #333333; }
  .logo:hover {
    opacity: .9;
    transform: scale(1.03);
    transition: all 0.3s ease; }
    .logo:hover .logo-background {
      background: #82CFEE;
      transition: all 0.3s ease; }

.logo-sm {
  font-family: "Playfair Display", serif;
  font-style: italic; }

.logo-lg {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5em;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .2em; }

.logo-background {
  width: 77%;
  height: 20px;
  background: #24ABE2;
  margin-top: -27px;
  margin-left: 9%; }

section {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center; }

.hero-img {
  margin-top: 3em;
  width: 100%;
  height: 100%;
  background-image: url("/img/header.jpg");
  background-position: top;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.3s ease; }
  .hero-img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }
